<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="light">
                <p class="text-faded">
                  I am a self driven software developer from Houston Texas who is highly passionate about problem-solving & learning new things.
                  I truly enjoy working in a team setting with professional colleagues who have the same passion for quality of work as I do.
                  Although I'm a team player I'm fully capable of working in a self starting environment with minimal oversight.
                  I'm currently looking for opportunities where I can expand my knowledge and grow as a Developer.                </p>
            </div>
        </div>
    </div>
</section>
