<section class="no-padding" id="portfolio">
    <div class="container-fluid">
        <div class="row no-gutter">
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mazeem3/final_project" target="_blank" class="portfolio-box">
                    <%= image_tag "creative/portfolio/housearch.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                HouSearch
                            </div>
                            <div class="project-name">
                                A search engine for real estate properties, you are able to search for a real estate property near a place of interest.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mazeem3/readit" target="_blank" class="portfolio-box">
                    <%= image_tag "creative/portfolio/readit.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                READ-IT!
                            </div>
                            <div class="project-name">
                              Ever felt like reddit looks so 2000 and late? Solution -
                              a reddit clone with a neater, simpler design.
                              This web-based app was a weekend assignment at the Iron Yard
                              and demonstrates the technologies learned in the first five weeks
                              of intensive coursework.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mazeem3/tweeter" target="_blank"class="portfolio-box"  >
                    <%= image_tag "creative/portfolio/tweeter.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                Tweeter
                            </div>
                            <div class="project-name">
                              Twitter was originally built using rails.
                              Rails offers a quick option for developing web-based applications.

                            </div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-sm-6">
                <a href="https://github.com/mazeem3/theIronLibrary" target="_blank" class="portfolio-box">
                    <%= image_tag "creative/portfolio/ironlibrary.jpg", class: "img-responsive", alt: "" %>
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                The Iron Library
                            </div>
                            <div class="project-name">
                                The Iron Library was an on-going project during my tenure at The Iron Yard Houston.
                                This rails app imitates a library management system. It has its own secured API also.
                                In this application you are able to create, edit, delete, or update books and save them to a PostgreSQL database.
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
