<!-- Resume section start -->
<aside class="bg-dark">

  <section id="resume" class="section">

    <div class="container">

      <div class="row">

        <div class="col-md-12 headline wow bounceInDown">
          <h2>Resume</h2>
          <p>My education</p>
        </div>

      </div><!-- .row -->

      <div class="row resume-items">

        <div class="col-md-3 wow bounceInLeft">
          <h3>Education</h3>
        </div>

        <div class="col-md-6 col-sm-8 resume-item wow bounceInUp">
          <h4>Ruby on Rails Back End Development</h4>
          <p>Back End Rails Fundamentals, emphasis on MVC structure.</p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> The Iron Yard</h4>
          <i class="fa fa-calendar"></i> 2016
          <hr class="visible-xs">
        </div>

        <div class="col-md-6 col-md-offset-3 col-sm-8 resume-item wow bounceInUp">
          <h4>Computer Science</h4>
          <p></p>
          <hr class="hidden-xs">
        </div>

        <div class="col-md-3 col-sm-4 resume-place wow bounceInRight">
          <h4><i class="fa fa-suitcase"></i> Prairie View A&M University</h4>
          <i class="fa fa-calendar"></i> 2013 - 2017
          <hr class="visible-xs">
        </div>

      </div><!-- .row -->

      <!-- .row -->

      <div class="row">

        <div class="col-md-6 col-md-offset-3 wow bounceInUp">

          <div class="btn btn-default btn-custom-2"><i class="fa fa-cloud-download icon-before"></i><%= link_to 'Download CV', download_pdf_path %></div>
        </div>

      </div><!-- .row -->

    </div><!-- .container -->

  </section>

</aside>
